# Godot 缓存与导出
.godot/
.import/
export_presets.cfg
export.cfg

# C# & 编译缓存
bin/
obj/
.mono/
*.csproj.user
*.csproj.old
*.suo
*.user
*.userprefs
*.sln.docstates

# IDE 配置
.vs/
.idea/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# 资源、授权与日志
Models/
license.dat
Debug.txt
*.log
*.tmp

# 系统文件
.DS_Store
Thumbs.db
ehthumbs.db

# 忽略超大字体文件
assets/fonts/*.TTC
assets/fonts/*.ttc

*.mp4